my <%= $statement_handle %> = <%= $database_handle %>->prepare( "<%= varHash['sql'] %>" );
<%= varHash['binds'] %><%= $statement_handle %>->execute();
while( my ( <%= varHash['mapped'] %> ) = <%= $statement_handle %>->fetchrow() )
