eval {
  my <%= $statement_handle %> = <%= $database_handle %>->prepare( "<%= varHash['sql'] %>" );
  <%= varHash['binds'] %><%= $statement_handle %>->execute();
  my $ps_out = ();
  while( my $ps_row_ref = <%= $statement_handle %>->fetchrow_hashref() ) {
    push @$ps_out, $ps_row_ref;
  }
  $ps_row_ref;
}
